PORT=5000
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/musictube
JWT_SECRET=your_jwt_secret_token

# Providers
LASTFM_API_KEY=your_lastfm_api_key
LASTFM_SECRET=your_lastfm_secret_key

MUSICBRAINZ_USER_AGENT=MusicTube/1.0 (contact@example.com)

YTMUSIC_ENABLED=true

# Local Development Settings
BASE_URL_LOCAL=http://localhost:5000
FRONTEND_URL=http://localhost:5173